#icon{
    height: 50px;
    width: 100px;
    color: #2D9596;
    padding: 0px;
    display: flex;
    gap: 10rem;
    justify-content: space-between;
    
    
    
}

#icon:hover{
    opacity: 100%;
}

#nav {
  display: flex;
  flex-direction: row; /* Change to row */
  align-items: center;
  justify-content: space-evenly;
  width: 100%; /* Change the width to your desired value */
  height: 50px; /* Change the height to your desired value */
  border-right: 1px solid #000; /* Add your desired border style */
  padding: 35px;
  background-color: #265073; 

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: "Inter", Courier, monospace;
}